{{ define "main" }}

<section class="hero" id="hero">

	{{ $hero := resources.GetMatch "/assets/imgs/hero.*" }}
	{{ $heroResize := $hero.Resize "800x webp"}}
	<img src="{{ $heroResize.RelPermalink }}" alt="Hero Image" class="hero-image" loading="lazy">

</section>

<section class=about id=about>
	<div class=about-intro>Hi there 👋 I'm a security engineer interested in reverse engineering, malware analysis, and
		exploit development. Here you can read my articles, designs, and exploits. Also check out my code on my Github and
		follow my socials for more.</div>
	<div class=about-social>
		<ul class=about-social-links>
			<li><a href=https://github.com/EgeBalci target=_blank rel="noopener noreferrer" aria-label=GitHub>
					<i class="fa-brands fa-github"></i>
				</a>
			</li>
			<li><a href=https://x.com/egeblc target=_blank rel="noopener noreferrer" aria-label=Twitter>
					<i class="fa-brands fa-x-twitter"></i>
				</a>
			</li>
			<li><a href=https://infosec.exchange/@ege target=_blank rel="noopener noreferrer" aria-label=Mastodon>
					<i class="fa-brands fa-mastodon"></i>
				</a>
			</li>
			<li><a href=https://bsky.app/profile/ege.sh target=_blank rel="noopener noreferrer" aria-label=BlueSky>
					<i class="fa-brands fa-bluesky"></i>
				</a>
			</li>
			<li><a href=https://www.linkedin.com/in/egebalci/ target=_blank rel="noopener noreferrer" aria-label=Linkedin>
					<i class="fa-brands fa-linkedin"></i>
				</a>
			</li>
			<li><a href=mailto:pm@ege.sh target=_blank rel="noopener noreferrer" aria-label=Email>
					<i class="fa-solid fa-envelope"></i>
				</a>
			</li>
			<li><a href=https://github.com/egebalci.gpg target=_blank rel="noopener noreferrer" aria-label=Email>
					<i class="fa-solid fa-key"></i>
				</a>
			</li>
		</ul>
	</div>
</section>

<section class="posts" id="posts">
	<div class="section-title">{{ index $.Site.Data.l10n "posts" }}</div>
	<div class="posts-list">
		{{ $posts_pages := where site.RegularPages "Type" "posts" }}
		{{ range first 3 $posts_pages }}
		<div class="posts-item">
			<div class="posts-date">{{ .Date | dateFormat "2006-01-02" }}</div>
			<div class="posts-title">
				<a href="{{ .RelPermalink }}">{{ .Title }}</a>
			</div>
		</div>
		{{ end }}
	</div>

</section>


{{ end }}
